.news-page {
  padding-top: 100px;
  position: relative;
  max-width: calc(100% - 100px);
  margin: 0 auto;
}

.news-page .swipeable-list {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 50px;
}

.news-page .swipeable-list .news-card {
  position: sticky;
  top: 20px;
  height: auto;
  margin: 0 auto 80px;
  width: calc(100% - 20px);
}

.news-page .swipeable-list .news-card .swipeable-list-item {
  transform-origin: 50% 0%;
  border-radius: 10px;
  height: 100%;
  overflow: visible;
  margin-bottom: 160px;
}

.news-page .swipeable-list .news-card .swipeable-list-item__content {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
  position: relative;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  flex-direction:column;
  min-height: 70vh;
}

.br-10 {
  border-radius: 10px;
  overflow: hidden;
}

.swipeable-list-item__content .news-image {
  position: relative;
  height: 160px;
  box-shadow: 0 2px 10px rgba(0,0,0,.4);
  width: 100%;
}

.swipeable-list-item__content .news-image img {
  pointer-events: none;
  z-index: 2;
}

.news-wrap-text {
  position: relative;
  z-index: 2;
  background-color: rgba(255,255,255,.45);
  margin: -30px 15px 0;
}

.news-wrap-text__title {
  padding: 12px 15px 15px;
  background-color: #fff;
}

.news-wrap-text__title h2 {
  line-height: 1em;
  font-size: 18px;
}

.news-wrap-text__content {
  padding: 15px 15px 30px;
}

.news-wrap-text__content p {
  font-size: 14px;
  line-height: 1.4em;
}

.news-data {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.news-bottom-wrap {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.news-bottom-wrap__button a {
  display: block;
  padding: 5px 30px 5px 10px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.news-bottom-wrap__button a img {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 1;
}

.action-notification {
  position: fixed;
  left: 0;
  width: 100%;
  top: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
}

.action-notification__btn {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0,.35);
}

.action-notification__btn span {
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.action-notification__saved span {
  margin-right: 5px;
}

.action-notification__deleted span {
  margin-left: 5px;
}

.action-notification__saved {
  background-color: #483AE4;
  color: #fff;
  transform: translateX(110%); 
  transition: transform .4s ease;
}

.action-notification__deleted {
  background-color: #FFD400;
  transform: translateX(-110%);
  transition: transform .4s ease;
}

.action-notification .show-notification {
  transform: translateX(0);
}

.country-select {
  display: none;
}

.country-select.country-select__show {
  display: flex;
  z-index: 2;
}

.country-select {
  position: fixed;
  top: 90px;
  right: 10px;
  left: auto;
  z-index: 2;
}

.country-select p {
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  display: inline-block;
  transform: translateY(5px);
  padding-right: 10px;
}

.country-select p span {
  font-weight: bold; 
}

.country-select select {
  background-color: #fff;
  border: 1px solid #3752E0;
  font-size: 12px;
  border-radius: 10px;
}

.swipe-icons.swipe-icons-category  .swipe-icons-left,
.swipe-icons.swipe-icons-saved .swipe-icons-right {
  display: none;
}


.no-avaiable-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFCE34;
  top: 0;
  left: 0;
  z-index: 0;
  border: 2px solid #000;
  border-radius: 10px
}

.no-avaiable-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  margin-left: -50px;
  margin-top: -10px;
}

.no-avaiable-img::before {
  content: 'The image is not availabel';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 41px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1em;
}

.no-avaiable-img::after {
  content: 'Hey!';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10px;
  margin-top: -20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
}